<div ng-if="uiProp" flex layout-fill>
    <div layout="row" ng-if="!uiProp.isCheckbox && uiProp.choiceList == null">
        <md-input-container flex layout-fill>
            <label>{{ labelText }}</label>
            <input ng-model="uiProp.value" ng-model-options="{ updateOn: 'blur' }" placeholder="{{uiProp.fullName}}"
                ng-class="{ 'c360-modified': uiProp.isModified, 'c360-invalid': uiProp.errorInfo }" 
                ng-disabled="uiProp.isReadOnly" type={{uiProp.inputType}} />
        </md-input-container>
        <md-button class="md-icon-button" ng-if="uiProp.customData && uiProp.customData.AllowReset === true && uiProp.isModified"
                   ng-click="uiProp.reset()" title="Reset to default">
            <md-icon>replay</md-icon>
        </md-button>
    </div>

    <div layout="row" ng-if="uiProp.choiceList != null">
        <md-input-container flex layout-fill>
            <label>{{ labelText }}</label>
            <md-select ng-disabled="uiProp.isReadOnly" placeholder="{{ uiProp.fullName }}" ng-model="uiProp.value">
                <md-option ng-repeat="choice in uiProp.choiceList" value="{{choice.value}}">{{choice.text}}</md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-icon-button" ng-if="uiProp.customData && uiProp.customData.AllowReset === true && uiProp.isModified"
                   ng-click="uiProp.reset()" title="Reset to default">
            <md-icon>replay</md-icon>
        </md-button>
    </div>

    <div flex ng-if="uiProp.isCheckbox">
        <md-checkbox ng-model="uiProp.value" aria-label="{{uiProp.fullName}}"
                        ng-disabled="uiProp.isReadOnly"
                        ng-class="{ 'c360-modified': uiProp.isModified, 'c360-invalid': uiProp.errorInfo}">
            {{ labelText }}
        </md-checkbox>
    </div>
</div>