.btn-transparent {
    background:none;
    border:none;
    box-shadow:none;
}

.btn-primary {
  color: #ffffff;
  background-color: #6AA84F;
  border-color: #6AA84F;
}

md-radio-button {
  display: inline-block;
  margin-top:30px;
}